<?xml version="1.0"?>

<configuration>

    
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nikita\Documents\Visual Studio 2015\Projects\Bakery_System\App_Data\Database2.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
